body {
  margin: 0;
  padding: 0%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f7e5e597;
}

.hamburguesa {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: #7a1b1b;
  color: #fff;
  border: none;
  font-size: 1.8rem;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
/*  transition: background 0.3s ease;*/
}

.hamburguesa:hover {
  background: #a05a44;
}

.menu {
  position: fixed;
  top: 60px;
  right: 1rem;
  background: #7a1b1b;
  border-radius: 8px;
  overflow: hidden;
  flex-direction: column;
  display: none;
  z-index: 9;
}

.menu a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  transition: background 0.3s ease;
}

.menu a:hover {
  background: #a05a44;
}

/* Menú activo */
.menu.menu-active {
  display: flex;
}



.principal {
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 10%;
}

.flor1 {
  position: absolute;
  z-index: -3;
  width: 300px;
  
}

.flor1 img {
  width: 30vw;
}

.recomendaciones {
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 0px;
  flex-wrap: wrap;
}

.banner {
  background-color: #b77272;
  color: #fff;
  max-width: 350px;
  min-width: 100px;
  border-radius: 0 0 10px 10px;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
}

.flor2 {
  position: absolute;
  top: 30vw;
  left: 60vw;
  z-index: -3;
  width: 300px; 
}

.flor2 img {
  width: 30vw;
}

.flor1 img {
  animation: girar 18s linear infinite; /* Nombre, duración, tipo, repetición */
  display: inline-block;
}
.flor2 img {
  animation: girar 18s linear infinite; /* Nombre, duración, tipo, repetición */
  display: inline-block;
}

.flor3 img {
  animation: girar 18s linear infinite; /* Nombre, duración, tipo, repetición */
  display: inline-block;
}


.flor3 {
  position: absolute;
  left: 60vw;
  z-index: -3;
  top: 80vw;
  width: 300px;
}

.flor3 img {
  width: 30vw;
}

.recomtitulo {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.bannerimg {
  width: 85%;
  margin: 15px auto;
  border-radius: 5px;
  display: block;
}

.sinopsis {
  padding: 0 20px 20px;
}

.sinopsis h3 {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.sinopsis p {
  font-size: 13px;
  color: #f5e9e9;
  line-height: 1.5;
}

.iconos {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

.iconos img {
  width: 24px;
  height: 24px;
  filter: invert(1);
  transition: opacity 0.3s;
}

.comtext {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
}

.logos img {
  height: 28px;
  width: auto;
}

.mejorvalorados2 {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #7a1b1b79;
    padding: 5%;
}

.usuarios {
  background-color: #663723c5;
  text-align: center;
  padding: 2%;
  font-style: italic;
  color: #2b0505;
  font-size: 30px;
  margin-bottom: 2%;
}


.fotosvalorados {
  overflow: hidden;
  /* width: 180px; */
  max-width: 10%;
  min-width: 17%;
  padding: 5px 5px 5px 5px;
  background-color: rgb(245, 239, 212);
  cursor: pointer;
}

.fotosvalorados img {
  width: 100%;
  height: 100%; 
   object-fit: cover; /* mantiene proporción y llena el contenedor */
  display: block;
}

.descvalorados {
  font-size: 1rem;
}
.sinop {
  padding-top: 5px;
  text-align: center;
}


/* ---  seccion comentarios--- */

.comentarios {
  padding-bottom: 5%;
}

.seccionreseñas {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.header_reseñas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.estrellas1 {
  font-size: 18px;
  color: #1a1502c6;
}
 .rating {
  text-align: center;
}

.rating h1 {
  font-size: 48px;
  margin: 0;
}

.rating span {
  font-size: 22px;
  color: #666;
} 

.opinion {
  background-color: #f3b014;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.rating_estrellas p {
  margin: 2px 0;
  color: #333;
  font-size: 14px;
}

.rating_estrellas span {
  color: #555;
  margin-left: 5px;
}


hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 25px 0;
}

.filtro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
}

.filtrobotones {
  display: flex;
  gap: 8px;
}

.filtrobotones button {
  background: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: 500;
}

.total {
  color: #777;
}

.reviewusuario {
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.reviewusuario2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewusuario2 h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.fecha {
  color: #888;
  font-size: 13px;
}

.estrellas3 {
  color: #f1c40f;
  margin: 5px 0;
}

.review-text {
  margin: 5px 0;
  font-size: 14px;
  color: #444;
}

.report {
  font-size: 14px;
  color: #007777;
  text-decoration: none;
}

.report:hover {
  text-decoration: underline;
}

.final {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.final img {
    width: 40%;
}


/* --- foooter---*/


.footer {
  background-color: #2d2d2d;
  color: #f1f1f1;
  padding: 40px 80px 0;
  font-size: 16px;
}

.footercontenedor {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  border-bottom: 1px solid #888;
  padding-bottom: 30px;
}

.footerlogo {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
  min-width: 220px;
}

.logo {
  width: 70px;
  height: auto;
}

.nosotros {
  font-weight: 500;
  line-height: 1.2;
  font-size: 15px;
}




.footerseccion {
  flex: 1;
  min-width: 200px;
}

.footerseccion h3 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
}

.footerseccion p {
  color: #d1d1d1;
  line-height: 1.5;
}

.footerseccion a {
  color: #d1d1d1;
  text-decoration: none;
}

.footerseccion a:hover {
  text-decoration: underline;
}

.footerbottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
}

.social {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social p {
  margin: 0;
  color: #f1f1f1;
  font-size: 18px;
}

.iconos a img {
  width: 25px;
  height: 25px;
  filter: invert(1);
  transition: opacity 0.3s;
}



@keyframes girar {
  from {
    transform: rotate(0deg); /* Punto de inicio */
  }
  to {
    transform: rotate(360deg); /* Punto final */
  }
}


