* {
    margin: 0%;
    padding: 0%;
    font-family:  "Open Sans", sans-serif;
    background-color: rgb(240, 202, 193);
}
#titulo {
    margin: 40px;
    padding: 10px;
    font-size: 40px;
}

.generos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cuadrado {
  box-shadow: 3px 8px 7px rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
  height: 200px;
  width: 300px;
  margin: 10px;
  border-style: solid;
  border-width: 1px;
 /* padding: 0px 0px 10px;*/
  text-align: center;  
  font-size: 30px;
  padding-bottom: 50px;

}
.cuadrado p {
    background-color: #f1f1f1;
}
.cuadrado:hover {
  transform: scale(1.05);
}

/*.texto {
    background-color: #f1f1f1;
    border: none;
    margin-top: 0%;
}*/
.cuadrado img {
    width: 100%;
   height: 100%;
}

.titulos_libros {
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.banners {
    background-color: rgba(139, 110, 110, 0.567);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 70px;
}
.banner1 {
    background-color: antiquewhite;
    padding: 10px 10px 30px;
    width: 40vh;
    border-style: solid;
    border-width: 1px;
    border-left: 20px;
}
.peli_libro {
    display: flex;
    background-color: red;
}
.banner1 img {
    width: 100%;
}
.descripcion {
    background-color: antiquewhite;
}
.titulo_obra {
    font-size: 20px;
    background-color: antiquewhite;
}
.ver_mas {
    position: relative;
    z-index: 2;
    /*top: -400px;
    left: 600px;*/
    width: 90px;
    background-color: transparent;
    opacity: 0.7;
}


footer {
  text-align: center;
  padding: 1rem;
  background-color: #3a3231;
  color: #fff;
  font-size: 0.9rem;
}
footer img {
    width: 20px;
}

